Assets/BasicItemModifiers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entries" type="xs:string"/>
  <xs:attribute name="Type" type="xs:string" use="required"/>
    <xs:complexType name="ItemModifier">
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="
      </xs:sequence>
    </xs:complexType>
</xs:schema>